  
<section class="container narrow">
	 <div class="row">
		<div class="sectionTitle grid-3">Distance in miles</div>
		<div class="grid-2 offset-1"><input type="text" class="plain"></div>
	 </div>
 
	 <div class="row">
		<hr>
		<div class="sectionTitle grid-3">Miles per gallon</div>
		<div class="grid-2 offset-1"><input type="text" class="plain"></div>
	 </div>
  
	 <div class="row">
		<hr>
		<div class="sectionTitle grid-3">Gas cost per gallon</div>
		<div class="grid-2 offset-1"><input type="text" class="plain"></div>
	 </div>
  
	 <div class="row">
		<hr>
		<div class="sectionTitle grid-3">Number of people</div>
		<div class="grid-2 offset-1"><input type="text" class="plain"></div>
	 </div>
  
  
	 <div class="row">
		<hr>
		<button class="btn btn-awesome grid-3">Calculate</button>
		<input type="text" class="total grid-3">
	 </div>

</section>
